<html>
    <head>
        <title>Todo List</title>
        <script src = "https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>
        <div id="todo-table">
            <h1>My TODO List</h1>
            <form>
                <input type="text" name="item" placeholder="Add new item ... " required />
                <button type="submit">Add Item</button>
            </form>

            <ul>
                <li>Item One</li>
                <li>Item Two</li>
                <li>Item Three</li>
                <li>Item Four</li>
            </ul>
        </div>
    </body>
</html>